<!-- Google Fonts  https://www.cssfontstack.com/Architects-Daughter -->
<link
  rel="stylesheet"
  type="text/css"
  href="https://fonts.googleapis.com/css?family=Architects+Daughter"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://fonts.googleapis.com/css?family=Poppins"
/>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">


<link rel="shortcut icon" href="{{ "/assets/img/favicon.ico" | relative_url }}">
